.holderContacto {
    text-align: center;
    width: 100vw;
    padding-right:0px;
    margin-right:0px;
    background-image: url("../../../../public/img/exit.jpg");
    background-size: cover;
    /* font-size: 20px; */
    color: white;
    /* text-align: center; */
    height: 110vh;
}

@media (max-width:1380px){
    .holderContacto{
        height: 160vh;
    }
}

.box {
     align-self: flex-end;
     border-color:  hwb(330 5% 11%);
     border-width: 3px;
     width: 300px;
     
}

.label {
    display: block;    
}

/* //esto afecta mi footer */
ul {
    list-style-type: none;
    }

.boton {
    border-style:groove;
    color: white;
    background-color: hwb(330 5% 11%);
}


.leftContact{
    float: left;
    text-align: left;
}

.rightContact{
    float: right;
    text-align: left;
}

.columnas{
    padding: 10px;
}

.contactBottom{
    position:static;
    bottom:0
}

.map{
    text-align: center;
    width: 100vw;
    padding-right:0px;
    margin-right:0px;
    background-size: cover;
    font-size: 20px;
    color: black;
    text-align: center;
    height: 100vh;
    filter: grayscale(100%) invert(92%) contrast(83%);
    z-index: -1;
    opacity: 0.9;
}
.contactForm{
    transition: ease all 1s;
}
@media (max-width:1380px){
    .contactForm{
        padding-top: 50px;
    }
}

@media (max-width:1100px){
    .contactForm{
        transform: scaleX(0.8);
    }
    .holderContacto{
        height: 100%;
    }
}

@media (max-width:480px){
    .contactForm{
        Transform: translateY(-6.0em) translateX(-6.0em) scale(0.8);        
    }
    .leftContact{
        display:none;
    }
}


.mainMapPage{
    background-color: black;
    z-index: -1;
}

